.container {
  display: flex;
  gap: 24px;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.btnGood {
  background-color: rgb(145, 223, 145);
}

.btnNeutral {
  background-color: rgb(204, 230, 127);
}

.btnBad {
  background-color: rgb(230, 154, 127);
}

.btnReset {
  background-color: rgb(165, 87, 87);
}
